# RNN for Time Series Prediction

This is a time series prediction task. You are given a dataset which reports on the weather and the level of pollution each hour for five years, and asked to train Recurrent Neural Networks (RNNs) to predict the hourly pollution level.

In [1]:
import numpy as np 
import pandas as pd 
import math
from datetime import datetime
import matplotlib.pyplot as plt # visualizing data
import seaborn as sns 
from collections import Counter
%matplotlib inline

a) Load the data from the file. Perform necessary pre-processing (e.g., missing value replacement, uninformative attribute removal, etc.) and visualise the values of various attributes over the five-year period.

In [2]:
import os
import sys


# write your code here
DATA_DIR = './data/'
FILENAME = "pollution.csv"
FILE_PATH = os.path.abspath(os.path.join(DATA_DIR, FILENAME))
# print(FILE_PATH)

pollution_df = pd.read_csv(FILE_PATH, index_col="No")

In [3]:

HEAD_COUNT = 10

pollution_df.head(HEAD_COUNT)

,year,month,day,hour,pm2.5,Dew,Temperature,Pressure,Wind_Direction,Wind_Speed,Snow,Rain
No,,,,,,,,,,,,
1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
6,2010,1,1,5,NaN,-19,-10.0,1017.0,NW,16.10,0,0
7,2010,1,1,6,NaN,-19,-9.0,1017.0,NW,19.23,0,0
8,2010,1,1,7,NaN,-19,-9.0,1017.0,NW,21.02,0,0
9,2010,1,1,8,NaN,-19,-9.0,1017.0,NW,24.15,0,0
10,2010,1,1,9,NaN,-20,-8.0,1017.0,NW,27.28,0,0

Find out which columns has NaN values

In [4]:
pollution_df.isna().any()

year              False
month             False
day               False
hour              False
pm2.5              True
Dew               False
Temperature       False
Pressure          False
Wind_Direction    False
Wind_Speed        False
Snow              False
Rain              False
dtype: bool

In [5]:

empty_field_name = "pm2.5"

pollution_df[empty_field_name].fillna((pollution_df[empty_field_name].mean()), inplace=True)

In [6]:

pollution_df.head(HEAD_COUNT)

,year,month,day,hour,pm2.5,Dew,Temperature,Pressure,Wind_Direction,Wind_Speed,Snow,Rain
No,,,,,,,,,,,,
1,2010,1,1,0,98.613215,-21,-11.0,1021.0,NW,1.79,0,0
2,2010,1,1,1,98.613215,-21,-12.0,1020.0,NW,4.92,0,0
3,2010,1,1,2,98.613215,-21,-11.0,1019.0,NW,6.71,0,0
4,2010,1,1,3,98.613215,-21,-14.0,1019.0,NW,9.84,0,0
5,2010,1,1,4,98.613215,-20,-12.0,1018.0,NW,12.97,0,0
6,2010,1,1,5,98.613215,-19,-10.0,1017.0,NW,16.10,0,0
7,2010,1,1,6,98.613215,-19,-9.0,1017.0,NW,19.23,0,0
8,2010,1,1,7,98.613215,-19,-9.0,1017.0,NW,21.02,0,0
9,2010,1,1,8,98.613215,-19,-9.0,1017.0,NW,24.15,0,0
10,2010,1,1,9,98.613215,-20,-8.0,1017.0,NW,27.28,0,0

b) Frame the task as the supervised learning problem as predicting the pollution at the current hour given the pollution measurement and weather conditions at the previous hour. Using the first 4 years' data as the training set and the remaining 1 year's data as the test set. Prepare the training/test sets accordingly.

In [7]:
from sklearn import preprocessing

# write your code here

c) Train a Recurrent Neural Network (RNN) on the training set. You can split the training set further by using 10% of the data as the validation set and the remaining for training.

In [8]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Activation, Dropout

# write your code here

D:\Applications\Python3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

d) Output the prediction results such as Root Mean Squared Errors (RMSE) on the test set. Remember that after the forecasts have been made, we need to invert the transforms to return the values back into the original scale. This is needed so that we can calculate error scores and plots that are comparable with other models. Plot the predicted values vs. the actual values.

In [9]:
from sklearn.metrics import mean_squared_error

# write your code here

e) Explore different network architectures (e.g., stacked LSTM layers) and various ways in tuning the model parameters to see if you can improve the model performance on the test set.

In [10]:
# write your code here

f) Explore alterative prediction setup by predicting the pollution for the next hour based on the weather conditions and pollution over the last 3 days.

In [11]:
# write your code here